html {
    background-color: rgba(250, 243, 236, 1);
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #8085c0;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #5c63b4;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #5c63b4;
  color: white;
}